body {
    padding-top:60px !important;
    background: #F7FAFD;
}

html {
  font-size: 14px;
}
.navbar {
    background-color: #399f4f; 
    font-size: 18px;
}
.covid-info {
    background-color: transparent;
    background-image: linear-gradient(180deg, #399f4f 6%, #57713a 90%);
    height: 120px;
    color: #fff;
}

.row-info {
    border-radius: 40px;
    background: #ffffff;
    margin-top: -24px;
    padding-top: 20px;
}
.info {
    padding: 3px;
    margin: 0px 5px;
    margin-bottom: 20px !important;
    border-radius: 35px;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    background:#2e6f3d;
}
.images-vilus {
    float: right;
    width: 100px;
}
.pt-4, .py-4 {
    padding-top: -2rem !important;
}

@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
    .container {
      max-width: 1180px;
    }
    .konten-kiri {
        width: 56%;
        display: inline-block;
        padding: 10px 5px;
        margin-left: 8px;
    }
    .konten-kanan {
        width: 42%;
        display: inline-block;
        padding: 10px 5px;
        margin-left: 4px;
    }

    .isi {
       background: #fff;
      padding: 15px;
      box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
        border-radius: 10px;
     margin: 0px 3px 0px 0px;
    }
    .breaking-news__content:before, .breaking-news__title {
        line-height: 1;
        font-family: AcuminPro;
        font-size: 17px;
        font-weight: bold;
        color: #2e6f3d;
        padding: 7px 10px 5px;
        background-color: #ffffff;
        margin: 0px 7px 3px 0px;
        border-radius: 12.5px;
        box-shadow: 0px 11px 5px -5px rgba(61, 61, 61, 0.16);
    }
   .data-peta {
        width: 100%;
        padding: 35px;
    }
.iframe-peta {
    height: 540px;
    width: 100%;
    border-radius: 10px;
    top: 55px;
    left: 0px;
    box-shadow: 0px 0px 10px #222;
    right: 0px;
    bottom: 0px;
    margin:10px 5px 0px 5px;
}
}

@media (max-width: 768px) {
    .container {
      max-width: 100%;
    }
    .konten-kiri, 
    .konten-kanan {
        width: 100%;
         display: block;
         padding: 0px 10px 10px 10px;
         padding-left: 15px;
        }
    .isi {
        background: #fff;
        padding: 15px;
        box-shadow: 0 5px 10px rgba(191, 181, 190, 0.76);
        border-radius: 10px;
        margin: 0px 3px 0px 0px;
    }
    .cell {
            width: 52%;
        margin: 15px -16px 0px 0px;    
     }
     .breaking-news__content:before, .breaking-news__title {
        line-height: 1;
        font-family: AcuminPro;
        font-size: 11px;
        font-weight: bold;
        color: #2e6f3d;
        padding: 7px 10px 5px;
        background-color: #ffffff;
        margin: 0px 7px 3px 0px;
        border-radius: 12.5px;
        box-shadow: 0px 11px 5px -5px rgba(61, 61, 61, 0.16);
    }
    .data-peta {
        width: 96%;
        padding: 10px;
    margin: 5px 8px;
    }
.iframe-peta {
    height: 350px;
    width: 98%;
    border-radius: 10px;
    top: 55px;
    left: 0px;
    box-shadow: 0px 0px 10px #222;
    right: 0px;
    bottom: 0px;
    margin: 11px 5px 0px 5px;
}
}
.card-custom {
    background: linear-gradient(119deg, #28a745 0%, #3f6941 100%);
    color: #fff;
    width: 99%;
}

.card-kostum {
    background: linear-gradient(80deg, #399f4f 0%, #3c7b49 100%);
    color: #fff;
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
}


.navbar-brand {
    font-size: 25px;
}

p.indonesia-detail {
    margin:0!important
}
.title-cov{
    text-align:center;
    color:#222;
    font-size:14px
}
.indonesia-title{
    font-size:20px;
    font-weight:600
}
.keterangan{
    font-size:15px;
    text-align:left;
    color:#000;
    width:100%;
}
.data{
    margin:5px 0 10px;display:inline;
}
.data .positif,.data .sembuh,.data .meninggal,
.data .indonesia{
    width:100%;height:110px;padding:0.5rem 1rem;border-radius:5px;position:relative;
}
.data .positif:before,
.data .sembuh:before,
.data .meninggal:before,
.data .indonesia:before {
    content:&#39;&#39;position:absolute;background:url(https://kawalcorona.com/data/images/svgs/circle.svg);background-position-x:0%;background-position-y:0%;background-repeat:repeat;background-position:right;background-repeat:no-repeat;width:100%;height:100%;opacity:0.5;top:0;left:0}
.data .sembuh{
    margin:0px 0 0px auto
}
.data .indonesia{
    margin:0px 0 10px 0
}
.data .positif {
    display: flex;
    box-shadow: 0 5px 10px rgba(167,66,153,0.3);
}
.data .sembuh {
    display: flex;
    box-shadow: 0 5px 10px rgba(167,66,153,0.3);
}
.data .meninggal {
    display: flex;
    box-shadow: 0 5px 10px rgba(167,66,153,0.3) 
}
.data .indonesia {
    background:#fc7303!important;
    display:flex;
    box-shadow:0 5px 10px rgba(167,66,153,0.3);
    height:180px;
}
.emoji img { 
    width:50px
}
.emoji {
    margin-left:auto!important;width:50px!important
}
.angka {
    font-weight:600!important;font-size:20px
}
.indonesia-detail {
    width:100px
}

.clear {
    padding:5px ;
}
.text-hijau {
    color:#2e6f3d;
}

.corona-panggilan {
    margin-bottom: 6px;
    padding-right: 5px;
}

.panggil {
    width: 80px;
    border-radius: 100px;
    background:#09ad95;
    padding:10px;
}

.panggil:hover, .panggil:focus {
    background:#2d5d56;
}

.jarak {
    padding: 10px !important;
}
.col-sm {
    padding-bottom:10px;
}
.title-cov {
    background: #ddd;
    padding:10px;
    border-radius: 5px;
}
.no-underline {
    text-decoration: none !important;
}
.kasusbarupositif {
    background: #efa965;
    border-radius: 10px;
    padding: 2px 12px;
    color: #fff;
}
.kasusbarumeninggal {
   background-color: #ef6464;
   border-radius: 10px;
   padding: 2px 12px;
   color: #fff;
}

}
.kasusterbaru {
    padding: 10px;
    font-size: 17px;
}
.container-fluid {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(167,66,153,0.3);
}
.daftarrs {
    padding: 12px;
    background: aliceblue;
    font-size: 11px;
}
.bodyrs {
    border-left: 2px solid #FFC107;
    padding-left: 25px;
    height: 125px;
    margin:0px -21px 0px 17px;
}
.text-center.shadow-lg.judul {
  /*margin top: 20px !important;*/
}

@media (min-width: 768px) {
  #judul1 {
    text-shadow: 2px 4px black;
    padding-right: 20px;
    font-size: 50px;
  }
}

#judul1 {
  text-shadow: 2px 4px black;
  padding-right: 20px;
  font-size: 25px;
}

#judul2 {
  text-shadow: 2px 4px black;
  padding-right: 20px;
  font-size: 25px;
}

@media (min-width: 768px) {
  #judul2 {
    text-shadow: 2px 4px black;
    padding-right: 20px;
    font-size: 50px;
  }
}

#hotel1 {
  margin: 0;
  height: 100px;
}

@media (min-width: 768px) {
  #hotel1 {
    width: 100%;
  }
}

#hotel {
  padding: 5px;
}

.container.text-center {
  margin-top: 20px;
  margin-bottom: 20px;
}

#identitas {
  border-radius: 10px;
}
label{
  text-align: left !important;
}


.bodyr {
    padding: 25px;
}
.dropdown-menu{
      background: #4e5f3c;
      border: none;
}
.dropdown:hover .dropdown-menu {
    display:block;
    margin:0px

}
.nav-link {
    margin-left:10px;
}
.title-cov{
        background-color: whitesmoke;
    }
.header-berita{
        background-color:transparent;
}
.zoom-effect:hover .kotak {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
.kotak {
    margin-bottom: 25px;
    height: 410px;
    box-shadow: 0 5px 10px rgba(167,66,153,0.3);
}
.size11 {
    font-size:11px;
}
.svg-img {
    width:25px;
}
.terlayani {
    height: 132px;
    align-content: center;
    border-radius: 5px;
    padding: 30px 60px 0px 27px !important;
    margin-top: 18px;
}
.hub {
    border: 1px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.05), 0 4px 24px 0 rgba(0,0,0,.1);
    border-radius: 5px;
    padding:10px;
}
.hub:focus, .hub:hover {
   background:#28a74573;
}
#carouselExampleControls {
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1), 0 2px 4px -1px rgba(0,0,0,.06);
    border-radius: 2%
}
.carousel-inner {
    border-radius:5px;
}
.breaking-news__click {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.breaking-news__content {
    text-align: left;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bg-hijau {
    background: #3b7547;
}
.rs {
    border: 1px;
    border-left: 4px solid #fec32b;
    border-radius: 0;
}
.info-rs {
    padding:17px;
}
.selengkapnya {
    border-radius: 16px;
    padding: 14px;
    border: 2px solid #3a894b;
    color: #3a894b !important;
    margin:15px;
}
a.selengkapnya:focus, a.selengkapnya:hover {
    background: #399f4f;
    color: #fff !important;
}
.table .thead-hijau th {
    color: #fff;
    background-color: #399f4f;
    border-color: #4CAF50;
}
.covid-data-table-wrapper {
  overflow-y: auto;
  height: 350px;
}

.covid-data-table-wrapper > table > thead th {
  position: sticky;
  top: 0;
  box-shadow: 0 0 0 1px #69c56c;
}

.covid-data-table-wrapper > table > thead th[sortable] {
  cursor: pointer;
  white-space: nowrap;
}
.btn-hijau {
    color: #fff;
    background-color: #399f4f;
    border-color: #60ef7e;
}
.radius {
    border-radius:5px;
}
.card-header {
    background: none;
    padding: 1rem 1.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    background-color: rgb(57, 159, 79);
    border-bottom: 1px solid #eaedf1;
}
.card-title {
    font-size: 1rem;
    font-weight: 500;
    color:#fff;
}
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 0rem !important;
    border: 1px solid transparent;
    border-radius: .25rem;
}

/* CSS Halaman Team info */
.jumbotron{
    opacity: 0;
    transform: translate(-30px,0);
    transition: 2s;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 2);
}
.jumbotron.tampil{
    opacity: 1;
    transform: translate(0,0);
}
.teaminfo img{
    width: 150px;
    border: 3px solid #cccc;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    margin-top: 100px;
}
.jumbotron.teaminfo {
    background-image: url('../img/UNJANI.jpg');
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: 0 -150px;
    padding-bottom: 40px;
    overflow: hidden;
}


.teaminfo h1{
    margin-top: 20px;
    color: whitesmoke;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 2);
    }
@media (max-width: 768px ){
    .teaminfo h1{
    font-size: 30px;
    }
    .teaminfo img {
        width: 120px;
    }
}
/* akhir Halaman team info */

/* konten */
.container.konten {
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.3);
}
@media (max-width: 768px ){
    .headerteam h1{
    font-size: 30px;
    }
}
.ava {
    width: 250px;
    filter: drop-shadow(4px 4px 5px rgba(0,0,0,0.3));
}

.iden {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 0px;
    text-shadow: 2px 2px 5px rgba(0,0,0, 0.5);
}

@media (max-width: 786px){
    .ava {
        width : 150px;
    }
    .iden {
        font-size: 20px;
    }
}
.hr  {
    width: 800px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);

}
.konten h1 {
    opacity: 0;
    transform: translate(0, -40px);
    transition: 1s;
}
.konten .muncul2{
    opacity: 1;
    transform: translate(0,0);
}
.konten img {
    opacity: 0;
    transform: translate(0, -40px);
    transition: 1s;
}

.konten .gam1.muncul, .konten .gam2.muncul, .konten .gam.muncul{
    opacity: 1;
    transform: translate(0,0);
}

.konten h2{
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 3.5s;
}

.konten h2{
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 3.5s;
}
.konten .he{
    opacity: 0;
    transform: translate(-50px, 0);
    transition: 3.5s;
}
.konten .he1.muncul1, .konten .he2.muncul1, .konten .he.muncul1{
    opacity: 1;
    transform: translate(0,0);
}
/* Akhir Konten */

